* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

/* main container */
.app-container {
  /* background-image: url(/img/frame.png); */
  width: 80%;
  min-height: 80vh;
  padding: 10px;
  margin: 30px auto 30px auto;
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top right;
  transition: all 0.2s ease-in-out;
}

/* general header container setup */
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 80px;
}

/* home link setup */

.home-link {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #192036;
  font-size: 20px;
  font-weight: 500;
}

.home-icon {
  width: 30px;
  height: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-label {
  font-size: 20px;
}

.search-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-input input {
  margin: 0 30px;
  background: #ffffff;
  border: 0.5px solid #81c3d7;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px 10px;
  line-height: 30px;
  font-size: 20px;
  color: #192036;
}

.search-input button {
  border: 1px solid #81c3d7;
  background-color: #fff;
  border-radius: 5px;
  color: #192036;
  font-size: 17px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
}

.search-input button:hover {
  transition: all 0.3s;
  background-color: #d4f5ff;
  cursor: pointer;
}

.search-history {
  font-size: 14px;
  text-align: center;
  color: #3a7ca5;
}

.title-wrapper {
  color: #ffffff;
}

/* media for Navbar */

@media only screen and (max-width: 1300px) {
  .app-container {
    width: 95%;
    min-height: 80vh;
    padding: 5px;
    margin: 5px auto 5px auto;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }

  .search-input {
    flex-direction: column;
  }

  .search-input input {
    padding: 3px 10px;
    line-height: 28px;
    font-size: 18px;
    color: #192036;
  }

  .search-label {
    font-size: 18px;
  }

  .title-wrapper {
    display: none;
  }

  .home-link {
    margin-bottom: 20px;
  }

  .search-input button {
    margin-top: 10px;
    font-size: 13px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
  }
}

/* END OF HEADER SETUP */

/* START OF POPULAR USERS */

.popular-header {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

.popular-users-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  padding: 0px 80px;
}

.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  margin: 10px;
  border: 1px solid #81c3d7;
  background-color: #fff;
  border-radius: 5px;
  color: #192036;
  font-size: 13px;
  width: 75px;
  height: 30px;
  border-radius: 10px;
}

.buttons button:hover {
  transition: all 0.3s;
  background-color: #d4f5ff;
  cursor: pointer;
}

.single-popular-user {
  background: #ffffff;
  flex-grow: 1;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 45%;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #81c3d7;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.single-popular-user .avatar {
  width: 80px;
  border-radius: 15px;
  border: 1px solid #81c3d7;
}

.single-popular-user .details {
  width: 240px;
  margin-left: 20px;
  color: #192036;
}

.single-popular-user a {
  text-decoration: none;
  color: #192036;
}

.single-popular-user .repolist {
  color: #192036;
  list-style: none;
}

/* POPULAR USERS MEDIA QUERy */

@media only screen and (max-width: 1300px) {
  .popular-header {
    font-size: 20px;
  }
  .buttons {
    display: none;
  }

  .popular-users-container {
    padding: 0;
  }

  .single-popular-user {
    width: 100%;
    margin-right: 0;
  }

  .single-popular-user .details {
    width: 40%;
    color: #192036;
    font-size: 13px;
  }

  .single-popular-user .repolist {
    overflow: hidden;
    color: #192036;
    list-style: none;
    font-size: 13px;
    max-width: 28%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* END OF POPULAR USERS */

/* START OF SINGLE USER */

.userInfo {
  margin-top: 10%;
}

.details-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.first .userName {
  margin-top: 10px;
  font-size: 20px;
  color: #192036;
}
.first .userName a {
  color: #192036;
  text-decoration: none;
  font-weight: bold;
}

.first img {
  width: 80%;
  border-radius: 50%;
  border: 2px solid #81c3d7;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.second .details p {
  margin-bottom: 10px;
}

.details-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
}

.fourth .repolist {
  font-size: 18px;
}
.fourth .repolist p {
  margin-bottom: 10px;
}

.fourth .repolist h5 {
  font-size: 18px;
  margin: 10px 0;
}

.third p {
  margin: 10px 0;
}

.third a {
  color: #192036;
  text-decoration: none;
  font-weight: bold;
}

.third img {
  width: 100px;
  border-radius: 15px;
  border: 1px solid #81c3d7;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1300px) {
  .app-container {
    background-size: 40%;
  }

  .details-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
  }
  .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .details-children {
    margin-top: 15px;
    width: 50%;
    align-items: left;
  }
}

@media only screen and (max-width: 700px) {
  .app-container {
    background-size: 40%;
  }
  .details-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .first {
    width: 100%;
  }
  .details-children {
    width: 75%;
  }
}

/* END OF SINGLE USER */

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8)
    url("https://i.stack.imgur.com/FhHRx.gif") 50% 50% no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading .modal {
  display: block;
}

.footer {
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
}

/* back to top button */
.scrollTop {
  position: fixed;
  width: 10%;
  bottom: 40px;
  right: 120px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1300px) {
  .scrollTop {
    right: 20px;
  }
}
